.videoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.qrVideo {
  object-fit: cover;
  border: 1px solid #ddd;
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.scannedText {
  word-wrap: break-word;
}
#video-container.example-style-2 {
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 5px;
}
#video-container.example-style-2 .scan-region-highlight {
  border-radius: 10px;
  outline: rgba(0, 0, 0, 0.25) solid 50vmax;
}
#video-container.example-style-2 .scan-region-highlight-svg {
  display: none;
}
#video-container.example-style-2 .code-outline-highlight {
  stroke: rgba(255, 255, 255, 0.5) !important;
  stroke-width: 15 !important;
  stroke-dasharray: none !important;
}
